.weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
  color: #ffff;
   /* background-image: linear-gradient(to bottom right, #222121, rgb(154, 150, 150));  */
   margin: 20px auto 0 auto; 
  padding: 0 20px 20px 20px;
  backdrop-filter: blur(50px); 
}

.weather:hover{
 
  box-shadow: 0 0 15px #ffffff;
  transition: 3s;
 

}

.top , .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-desp {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weathericon {
  width: 100px;
}
.temp{
    font-size: 70px;
    font-weight: 600;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0 ;
}
.details{
    width: 100%;
    padding-left: 20px;
}
.parameter-row{
    display: flex;
    justify-content: space-between;
}
.parameter-label{
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}
.parameter-value{
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}
